h1{
  color: white;
  width: 30%;

}
h5{
  color: white;
  width: max-content;
}
.link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  .link:hover {
    color: #007bff;
  }
  .paper,.millionaire {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: #ff8800;
    color: #ff8800;
  }
  .millionaire {
background-color: #ff8800;
  }
  
  .card {
    perspective: 1000px;
    width: 100%;
    height: 150px;
  }
  
  .cardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .card:hover .cardInner {
    transform: rotateY(180deg);
  }
  
  .cardFront,
  .cardBack {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardFront {
    background-color: #587fa8;
  }
  
  .cardBack {
    background-color: #00948d;
    transform: rotateY(180deg);
  }
  
  .cardBack p {
    color: white;
    margin: 5px;
  }