.body{
    display: flex;
    background-color: #b3b3b3;
  }
.table-container{
    background-color: #f5f6f8b7;
    width: 500px;
    margin: 7px auto;
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
table {
    border-collapse: separate; 
    border-spacing: 2px; 
    margin: 20px auto;
    border: 2px solid #9c9c9c;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .total-marks{
    width: max-content;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 71%, rgba(0,212,255,1) 100%);    color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
  }

  caption{
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    caption-side:bottom;
  }
  
  .card {
    position: relative;
    perspective: 1000px;
    width: 150px;
    height: 30px;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    font-weight: bold;
    font-size: 16px;
  }
  

  .card.flipped .card-content {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
  }
  
  .back {
    background-color: #ffffff;
    color: black;
    transform: rotateY(180deg);
  }
  
  tbody {
    text-align: center;
  }
  
  td {
    padding: 10px;
  }
  
  .card:hover {
    background-color: #e2e2e2;
  }
  
  
  .card-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .answer-mark {
    display: block;
    font-size: large;
    color: white;
    margin-top: 5px;
  }
  button{
    height: 50px;
    margin: auto 100px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

button.next-button {
    background-color:#575757;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button.next-button:hover {
    background-color: #353535;
    transform: scale(1.05);
  }
  
  button.custom-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button.custom-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }
  .redX{
    color: red;

  }
  .message-container{
    position: absolute; 
    top: 100px; 
    left: 60px;
    border: 1px solid red;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.24);
  }
  .three-x{
    margin: 25px auto;
  }
  .message-container h1{
    display: inline;
    padding: 25px 23px;
  }

@media (max-width: 576px) {

  .table-container {
    width: 100%;
    margin: 7px auto;
  
  }
  
  table {
    width: 100%;
    font-size: 14px;
  }
  
  caption {
    font-size: medium;
    padding: 5px;
  }
  
  .card {
    width: 100px;
    height: 20px;
    font-size: 12px;
  }
  
  button {
    margin: 10px 50px;
    font-size: 12px;
  }
  
  .message-container {
    top: 60px;
    left: 30px;
    width: 120px;
    height: 80px;
  }
  
  .message-container h1 {
    padding: 10px;
  }
}

